* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: sans-serif;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;

}

.form {
    background: url(./images/background.svg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

}

.form,
.user_in {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user_img {
    width: 160px;
    height: 160px;
    margin: 100px 0 50px;
    
}

.user_name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(205 207 208);
    margin-bottom: 10px;
}

.user_input {
    width: 200px;
    text-align: center;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    border: none;
    font-size: 16px;
    background-color: rgb(201 208 225);
}

.sign_in {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(14 20 33);
    background: linear-gradient(25deg, rgb(4 9 19), rgb(201 208 225));
    border: none;
    outline: none;
}

.sign_in:hover {
    cursor: pointer;
    background: linear-gradient(25deg, rgb(201 208 225), rgb(4 9 19));
}

@media (max-width: 320px) {

    .user_img {
        width: 200px;
        height: 200px;

    }

    .user_input {
        width: 304px;
    }

    .sign_in {
        width: 304px;
    }
}